* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

h1{
    font-size: 2.6rem;
    text-align: center;

}
h2{
    font-size:2.6rem;

}
h3{
    font-size: 3rem;

}
h4, h5{
    font-size: 2.8rem;

}
li {
    font-size: 2rem;
}
/*header */
.main-head {
    background: grey;
    color:blueviolet;
    border-radius: 50px;
    margin-left: 2%;
    margin-right: 2%;
}
nav{
    min-height: 10vh;
    display: flex; /*type of disposition */
    align-items: center;
    width: auto;
    padding: 2rem;
}
nav ul{
    display:flex;
    flex: 1 1 80rem/*adjust to the left */;
    justify-content:space-around;
    align-items: center;
    list-style: none; /* hide points on each text */
}
.sizeContact{
    font-size: 4rem;

}

#logo {
    flex: 2 1 5rem;
}
#searchbar { width: 100%;}

.champ     { height:30px;}

td {
    border: 1px solid black;
    border-radius: 30px;
  }
.table1 {
    margin-left: 50px;
    border-spacing: 10px;
    width: 1600px;

}
.nameProfil{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-family: 'Roboto', sans-serif;

}
.photoprofil {
    display: block; /* help to change the img by a block */
    margin: auto;
    width : 150px; height : 150px;
    border: none;
    border-radius : 75px;

}
.nameParameter{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: large;
    font-family: 'Roboto', sans-serif;

}

.gear1 {
    display:block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tableProfil {
    width: 30%;
}
.tablePublication {
    vertical-align: top;
    width: 60%;
    border: 1px solid black;
}
.publication{
    border-radius:15px;
    margin-top: 5%;
    margin-left: 215px;
    width: 420px;
    height: 200px;
    font-size: 20px;
}
.centerSendButton{
    margin-left:240px;
}
.publiSubmit {
    margin-top: 10px;
	background-color:#e09336;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-left: 125px;
}
.textestories{
  font-size:large;
  color:rgb(107, 105, 102);
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;

}

.myPub{
    font-size:large;
    color:rgb(107, 105, 102);
   text-align: center;
   font-family: 'Roboto', sans-serif;

}
.myPubimg{
    margin-top: 10px;
    width: 200px;
    height: 180px;
    border-radius : 50px;
}

.story1{
    margin-left: 55px;
    border-spacing: 5px 10px;
    margin-right: 10px; 
    width:110px;
    height: 130px;
    border-radius : 25px;  
    cursor:pointer;
    border : 2px solid hsl(27, 81%, 49%);
    border-width: 2px;
}

.story2{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width:110px;
    height: 130px;
    border-radius : 25px; 
    cursor:pointer; 
    border : 2px solid hsl(27, 81%, 49%);
    border-width: 2px;
}

.story3{
    margin-top: 10px;
    margin-left: 10px;
    width:110px;
    height: 130px;
    border-radius : 25px;
    cursor:pointer;
    border : 2px solid hsl(27, 81%, 49%);
    border-width: 2px;
}
.story4{
    margin-top: 10px;
    margin-left: 20px;
    border-radius : 25px;
    width:110px;
    height: 130px;
    border : 2px solid hsl(27, 81%, 49%);
    border-width: 2px;
}
.nameStory{
    text-align: center;
    font-size:large;
    font-family: 'Roboto', sans-serif;
}

.textStory1{
    text-align: center;
    font-size:large;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px; 
    margin-left: 55px;
    border : none;
    display: inline-block;
    width:110px;

}
.textStory2{
    text-align: center;
    font-size:large;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
    border : none;
    display: inline-block;
    width: 110px;
}
.textStory3{
    text-align: center;
    font-size:large;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    border : none;
    display: inline-block;
    width: 110px;

}
.textStory4{
    text-align: center;
    font-size:large;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    border : none;
    display: inline-block;
    width: 110px;
}


